.bg-container {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 600px;
    background-image: url(../../../../../../assets/Banner/image.png);

    @media (max-height: 600px) {
        height: 600px;
    }
    @media (max-height: 425px) {
        height: 500px;
    }
}

